<section class='login bg-dark text-white'>
    <div class="row g-0">
        <div class="col-lg-7 d-none d-lg-block">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active min-vh-100">
                        <img src="../../assets/img/login/1.jpg" class="d-block w-100 vh-100 foto" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="font-weight-bold">MURGUIA TECH</h5>
                            <a class="text-muted text-decoration-none" href="#"> Visita nuestra administrador de usuarios</a>
                        </div>
                    </div>
                    <div class="carousel-item min-vh-100">
                        <img src="../../assets/img/login/2.jpg" class="d-block w-100 vh-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="font-weight-bold">MURGUIA TECH</h5>
                            <a class="text-muted text-decoration-none" href="#"> Visita nuestra administrador de usuarios</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </a>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-evenly min-vh-100">
            <!--LOGO-->
            <div class="px-lg-3 pt-lg-2 mx-auto">
                <img src="../../assets/img/login/logo.png" class="img-fluid">
            </div>       
            <div class="px-lg-5 w-100 px-3">
                <!--FORM-->
                <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="mb-4" method="POST">
                    <div class="form-group mb-2">
                        <label for="username" class="form-label font-weight-bold">Nombre de usuario:</label>
                        <input type="text" ngModel #usernameInput="ngModel" class="form-control border-0 mb-2" name="username" id="username"
                            placeholder="Ingresa tu email" aria-describedby="emailHelp" required>
                        <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched">Ingresa tu nombre de usuario.</span>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password" class="form-label font-weight-bold">Contraseña:</label>
                        <input type="password" ngModel #passwordInput="ngModel" name="password" id="password" class="form-control border-0 "
                            placeholder="Ingresa tu contraseña" required>
                        <span class="help-block" *ngIf="passwordInput.invalid && passwordInput.touched">Ingresa una contraseña.</span>

                    </div>
                    <br/>
                    <a href="#" id="emailHelp" class="form-text text-decoration-none text-muted">¿Has olvidado tu
                        contraseña?</a>

                    <div class="mb-4">
                        <button type="submit" [disabled]="loginForm.invalid || showLoading" class="btn btn-light w-100">
                            <i *ngIf="showLoading" class="fa fa-circle-notch fa-spin" aria-hidden="true"></i>&nbsp;&nbsp;
                            <span *ngIf="showLoading">Cargando...</span>
                            <span *ngIf="!showLoading">Iniciar Sesión</span> 
                        </button>
                        
                    </div>
                </form>
            
                <div class="text-center px-lg-5 pt-lg-3 pb-lg-0 p-2 w-100">
                    <p class="d-inline-block mb-2">¿Todavia no tienes una cuenta? <a routerLink="/registro"
                            class="text-light font-weight-bold text-decoration-none d-inline-block text-decoration-underline">Crea
                            una ahora</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
